body {
    margin: 0;
    font-family: 'Markasi Text', serif;
    background-color: #ffffff;
    color: #333;
}
.logo {
    display: block;
    margin: auto;
}
header > .logo-container {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 40px;
    box-shadow: 0 0.5px 8px lightgray;
}
.logo {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: lightgray;
}
.main-container {
    display: grid;
    gap: 10px;
    padding: 40px;
}

.content1 {
    grid-column: span 3;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px lightgray;
    text-align: center;
    background-image: url("imagenes/anillos_banner.jpg");
    background-size: cover;
    background-position: center;
}
.article1{
    color: white;
    text-align: left;
}
.content2 {
    display: contents;
}
.new-collection, .gold-rings, .gold-necklaces {
    width: 60%;
    height: 70%;
    max-width: 250px;
}
.article2 {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgb(226, 226, 226);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px lightgray;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing);
    background-color: #333;
    color: #fff;
    align-items: center;
}

.footer-logo img {
    max-width: 70px;
    padding-left: 40px;
}
footer .footer-rights {
    text-align: right;
    padding-right: 40px;
}